
<h2>Users in Json Server</h2>


<!-- 
json-server

Angular 20, Signals are the new reactive primitive for state management. 
They’re perfect for your CRUD table because they eliminate NG0100, 
handle async updates safely, and reduce manual change detection.
-->

<div class="div1">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
            matInput
            title="UserName"
            [ngModel]="newUser().name"
            (ngModelChange)="updateNewUserName($event)"
    >
  </mat-form-field>
  &nbsp;&nbsp; 
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
            matInput
            title="UserEmail"
            [ngModel]="newUser().email"
            (ngModelChange)="updateNewUserEmail($event)"
    >
  </mat-form-field>
   &nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="addUser()">Add</button>

</div>



<table mat-table [dataSource]="users()" class="mat-elevation-z8">

     <!-- ID 
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">
            {{ user.id }}
        </td>
    </ng-container>
    -->

  <!-- Name -->
  <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <!-- 
        <td mat-cell *matCellDef="let user">
        <ng-container *ngIf="editingId() !== user.id; else editName">
            {{ user.name }}
        </ng-container>
        <ng-template #editName>
            <input matInput [(ngModel)]="user.name" />
        </ng-template>
        </td>
        -->

        <td mat-cell *matCellDef="let user">
          <!--  {{ user.name }} -->
             <!-- If not editing, show text -->
            <ng-container *ngIf="!user.editing">{{ user.name }}</ng-container>

            <!-- If editing, show input -->
            <input *ngIf="user.editing" matInput [(ngModel)]="user.name">
            
        </td>
  </ng-container>

  <!-- EMAIL -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">
      <!-- {{ user.email }} -->

      <ng-container *ngIf="!user.editing">{{ user.email }}</ng-container>
      <input *ngIf="user.editing" matInput [(ngModel)]="user.email">

    </td>
  </ng-container>


  <!-- Actions -->
    <!-- OLD
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <button *ngIf="editingId() !== user.id" mat-button (click)="startEdit(user)">Edit</button>
      <button *ngIf="editingId() === user.id" mat-button color="primary" (click)="saveEdit(user)">Save</button>
      <button *ngIf="editingId() === user.id" mat-button color="warn" (click)="cancelEdit()">Cancel</button>
      <button mat-button color="warn" (click)="deleteUser(user.id!)">Delete</button>
    </td>
  </ng-container>
   -->

   <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
        <!-- <button mat-button>Edit</button> -->

        <button mat-icon-button color="primary" *ngIf="!user.editing" (click)="startEdit(user)">
            <mat-icon>edit</mat-icon>
       </button>

        <!-- <button mat-button *ngIf="!user.editing" (click)="startEdit(user)">Edit</button> -->
        <button mat-button color="primary" *ngIf="user.editing" (click)="saveEdit(user)">Save</button>
        
        <button mat-button color="warn" *ngIf="user.editing" (click)="cancelEdit(user)">Cancel</button>

        <!-- 
        <button mat-button color="warn">Delete</button>
        -->

        <button mat-icon-button color="warn" *ngIf="!user.editing" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
        </button>

        </td>
  </ng-container>

    <!-- REQUIRED ROW DEFINITIONS -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


</table>

