
:host {
  display: block;
  padding: 16px;
}

.aggrid {
    width: 100%; 
    height: 550px;
}

/* 
ORIG: 
    width: 901px;  
*/

.aggrid2 {
    flex: 0 1 0%;
    display: none;
}

.aggridDivSub{
   flex: 1 1 0%;
}


.aggridDivMain{
   height: 100%; 
   display: flex; 
   flex-direction: column;
}

.dropdownlst{
    margin-right: 16px
}
