:host {
  display: block;
  padding: 16px;
}


.popup-link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}


.popup-linkV2 {
  text-decoration: underline;
  color: blue;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}